@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --title-color: rgb(231, 63, 144);
        --background-color: rgb(251, 228, 241);
        --text: rgb(167, 86, 120);
        --important-colr:rgb(255, 253, 254 );
    }
    .main {        
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 2em;
        border-style: solid;
        border-color: var(--background-color);
        background-color: var(--background-color);
        border-radius: 1rem;
        border-width: 1px;
    }
}

@layer components {


    .card__title {
        font-weight: 700;
        font-size: 2em ;
        color: var(--title-color);
        text-align: center;
        margin-bottom: 0.5em; 
    }


    .card__subtitle {
        font-weight:500 ;
        color: var(--text);
        display: block;
        margin-bottom:4em ;
        text-align: center;
    }

    .btn {
        background-color: var(--title-color);
        color: var(--important-colr);
        border-radius: 50%;
        margin: 0 auto;
        aspect-ratio: 1 / 1;
        width: fit-content;
        padding: 2em;
        text-align: center;
    }
    .btn__price {
        font-size: 2em;
        font-weight:700;
        margin: 0;
        margin-bottom: .25em;
    }
    .btn__currency {
        margin: 0;
    }


    .card__tools {
        margin-top:5em ;
        margin-bottom:3em ;
    
    }


    .card__text {
        columns: var(--text);
        font-weight: 500;
        margin-bottom: 2em ;
        text-align: center;
    }


    .button {
        background-color: var(--title-color);
        color: var(--important-colr);
        border-radius: 6em;
        padding: 1em;
        text-align: center;
        display: block;
        font-weight: 700;
        text-decoration: none;
    }


}



